{% extends "base.html" %}

{% load threadedcommentstags %}

{% block content %}
    {% if comment %}
      <div id="comment_preview">{% auto_transform_markup comment %}</div>
    {% endif %}

    <form method="POST" action="">
      <fieldset>
        <legend>Post a Comment</legend>
        {% if form.name.errors %}
          <p class="error">{{ form.name.errors|join:", " }}</p>
        {% endif %}
        <p>
          <label for="id_name">Name</label><br>
          <input id="id_name" type="text" name="name" maxlength="128" class="text" value="{{ form.name.data }}">
        </p>
        
        {% if form.email.errors %}
          <p class="error">{{ form.email.errors|join:", " }}</p>
        {% endif %}
        <div class="span-2">
          <label for="id_email">E-mail<br><span class="quiet">(optional)</span></label>
        </div>
        <div class="span-5 last">
          <input id="id_email" type="text" name="email" maxlength="75" class="text" value="{{ form.email.data }}">
        </div>
        <hr class="space">
        
        {% if form.website.errors %}
          <p class="error">{{ form.website.errors|join:", " }}</p>
        {% endif %}
        <div class="span-2">
          <label for="id_website">Website <br><span class="quiet">(optional)</span></label>
        </div>
        <div class="span-5 last">
          <input id="id_website" type="text" name="website" maxlength="200" class="text" value="{{ form.website.data }}">
        </div>
        <hr class="space">
        
        {% if form.comment.errors %}
          <p class="error">{{ form.comment.errors|join:", " }}</p>
        {% endif %}
        <p>
          <label for="id_comment">Comment (<a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> enabled)</label><br>
          <textarea id="id_comment" rows="10" cols="40" name="comment">{{ form.comment.data }}</textarea>
        </p>
        <p><input type="submit" value="Submit" /></p>
        <input type="hidden" name="next" value="{{ next }}">
      </fieldset>
    </form>
{% endblock %}