body { 
  margin-top:1.5em;
  font-family:"Lucida Grande", "Bitstream Vera Sans", Helvetica, Arial, sans-serif;
  color:#333
}

h2 {
  line-height:1;
}

.entry h2 {
  margin:0;
}

.date { color: #999; font-weight:bold;}

pre, code, tt {font-family:mono-space,monospace; font-size:1.2em;}

a:focus, a:hover {color:#c33;text-decoration:underline;}
a {color:#36c;text-decoration:none;}
a.size-1 {font-size: 1em;}
a.size-2 {font-size: 1.2em;}
a.size-3 {font-size: 1.4em;}
a.size-4 {font-size: 1.6em;}
a.size-5 {font-size: 1.8em;}
a.size-6 {font-size: 2em;}

.container {margin:0 0 0 40px;}

#header {
  text-align:right;
}
  #intro {
    font-weight: bold;    
    margin:0;
  }
  #header h1 {
    font-family: "Georgia";
    margin: 0 0 0.15em 0;
  }
    #header h1 a {
      color:#999;
      text-decoration:none;
    }
#content {
  margin:0 -25px 1.5em 25px;
}

/* syntax highlighting */
pre{background-color:#f0f0f0;font-size:1.2em;border-top:1px solid #ccc;border-bottom:1px solid #ccc;overflow:auto;margin:0 0 1.5em;padding:.5em;font-family:mono-space,monospace}
.highlight{background-color:#404040}
.highlight .err{color:#a61717;background-color:#e3d2d2}
.highlight .cp{color:#c00;font-weight:700}
.highlight .cs{color:#c00;font-weight:700;background-color:#fff0f0}
.highlight .gd{color:#000;background-color:#fdd}
.highlight .gh{color:#303030}
.highlight .gi{color:#000;background-color:#dfd}
.highlight .gu{color:#606060}
.highlight .kt{color:#888;font-weight:700}
.highlight .no{color:#036;font-weight:700}
.highlight .nf{color:#06b;font-weight:700}
.highlight .nl{color:#369;font-style:italic}
.highlight .py{color:#369;font-weight:700}
.highlight .w{color:#bbb}
.highlight .se{color:#04d;background-color:#fff0f0}
.highlight .si{color:#33b;background-color:#fff0f0}
.highlight .sx{color:#2b2;background-color:#f0fff0}
.highlight .sr{color:#080;background-color:#fff0ff}
.highlight .ss{color:#a60;background-color:#fff0f0}
.highlight .vg{color:#d70}
.highlight .vi{color:#33b}
.highlight .c,.highlight .cm,.highlight .c1,.highlight .go{color:#888}
.highlight .k,.highlight .kc,.highlight .kd,.highlight .kn,.highlight .kr{color:#080;font-weight:700}
.highlight .gr,.highlight .gt{color:#a00}
.highlight .gp,.highlight .nd{color:#555}
.highlight .kp,.highlight .ow{color:#080}
.highlight .m,.highlight .mf,.highlight .mh,.highlight .mi,.highlight .mo,.highlight .il{color:#00D;font-weight:700}
.highlight .s,.highlight .sb,.highlight .sc,.highlight .sd,.highlight .s2,.highlight .sh,.highlight .s1{color:#d20;background-color:#fff0f0}
.highlight .na,.highlight .nv,.highlight .vc{color:#369}
.highlight .nb,.highlight .bp{color:#038}
.highlight .nc,.highlight .ne,.highlight .nn,.highlight .nt{color:#b06;font-weight:700}
