{% extends "base.html" %}

{% load disqus_tags tagging_tags %}

{% block pretitle %}{{ object.title }} —{% endblock %}
{% block header_extra %}
  <p class="quiet bottom">Published {{ object.created_at|date:"F j, Y" }}</p>
  {% tags_for_object object as tags %}
  <p class="quiet">Tagged as  
  {% if tags %}
    {% for tag in tags %}
      <a href="{% url tag_list tag %}">{{ tag }}</a>{% if not forloop.last %},{% endif %}
    {% endfor %}
  {% endif %}
  </p>
{% endblock %}

{% block content %}
  {% if object.is_draft %}
    <div class="box">This entry is currently unpublished.</div>
  {% endif %}
  <div class="entry">
    <h2 class="bottom">{{ object.title }}</h2>
    <hr>
    {% if object.body_html %}
      {{ object.body_html|safe }}
    {% else %}
      {{ object.body|safe }}
    {% endif %}
  </div>
  <hr>
  <h3 id="comments">Comments</h3>
  {% disqus_show_comments %}
{% endblock %}