{% extends "base.html" %}

{% block pretitle %}
  Archive for {{ day|date:"F j, Y" }} —
{% endblock %}

{% block content %}
<h2>Archive for {{ day|date:"F j, Y" }}</h2>
{% for object in object_list %}
  {% load tagging_tags %}
  {% load humanize %}

  {% tags_for_object object as tags %}

  <div class="entry">
    <h2><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h2>
    <p>
      {{ object.created_at|naturalday|capfirst }} • 
      <a href="{{ object.get_absolute_url }}#disqus_thread">View Comments</a>
      
      {% if tags %}
        •
        {% for tag in tags %}
          <a href="{% url tag_list tag %}">{{ tag }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
      {% endif %}
    </p>
  </div>
{% endfor %}
<script type="text/javascript">
//<![CDATA[
(function() {
		var links = document.getElementsByTagName('a');
		var query = '?';
		for(var i = 0; i < links.length; i++) {
			if(links[i].href.indexOf('#disqus_thread') >= 0) {
				query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
			}
		}
		document.write('<script type="text/javascript" src="http://disqus.com/forums/arthurkozielsblog/get_num_replies.js' + query + '"></' + 'script>');
	})();
//]]>
</script>
{% endblock %}