{% extends "base.html" %}

{% block pretitle %}
  {{ object.title }} —
{% endblock %}

{% block extrahead %}
{% endblock %}

{% block content %}  
  <div class="entry">
    <h2>{{ object.title }}</h2>
    <p class="date">
      Published {{ object.created_at|date:"F j, Y" }}
      {% if object.edited %} (last edited: {{object.updated_at|date:"F j, Y" }}) {% endif %}
    </p>
    {% if object.body_html %}
      {{ object.body_html|safe }}
    {% else %}
      {{ object.body|safe }}
    {% endif %}
  </div>
  
  <hr>
  <h3 id="comments">Comments</h3>
  <div id="disqus_thread"></div>
  <script type="text/javascript" src="http://disqus.com/forums/arthurkozielsblog/embed.js"></script>
  <noscript><a href="http://arthurkozielsblog.disqus.com/?url=ref">View the discussion thread.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
{% endblock %}