{% extends "base.html" %}

{% load tagging_tags humanize disqus_tags %}

{% block content %}
  {% block archive_title %}{% endblock %}
  
  {% for object in object_list %}
    {% tags_for_object object as tags %}

    <h2 class="bottom"><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h2>
    <p>
      {{ object.created_at|naturalday|capfirst }} • 
      <a href="{{ object.get_absolute_url }}#disqus_thread">View Comments</a>
      {% if tags %}
        •
        {% for tag in tags %}
          <a href="{% url tag_list tag %}">{{ tag }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
      {% endif %}
    </p>
  {% endfor %}
{% disqus_num_replies %}
{% endblock %}