{% extends "blog/page/default.html" %}

{% block header_extra %}
  <dl>
    <dt>Social Networks</dt>
    <dd><a href="http://news.ycombinator.com/user?id=arthurk">Hacker News</a></dd>
    <dd><a href="http://github.com/arthurk">GitHub</a></dd>
    <dd><a href="http://friendfeed.com/arthurk">FriendFeed</a></dd>
    <dd><a href="http://delicious.com/arthurk">Delicious</a></dd>
    <dd><a href="http://www.last.fm/user/arthr">Last.fm</a></dd>
    <dd><a href="http://readernaut.com/arthurk/">Readernaut</a></dd>
  </dl>
{% endblock %}