{% extends "base.html" %}

{% block pretitle %}
  About —
{% endblock %}

{% block content %}
  <h2>About</h2>
  <p>Hi there, I'm a 22-year-old living near Dortmund in Germany and working towards my bachelor's degree in Business Informatics at the <a href="http://www.fh-dortmund.de">University of Applied Sciences and Arts Dortmund</a>.</p>
  <p>Most of my web activity is available on <a href="http://friendfeed.com/arthurk">FriendFeed</a>.</p>
  <p>You can email me on <a href="mailto:arthur@arthurkoziel.com">arthur@arthurkoziel.com</a>.</p>
{% endblock %}